/* HEADER */
#header-nav { /*green background area*/
    background-color: #408c8c;
    border-radius: 0;
    border: 0px;
    padding-bottom: 30px;
}
.navbar-brand h1 {/*Company Name*/
color: #F8B444;
font-size: 30px;
margin-top: 0px;
margin-bottom: 0;
font-weight: bold;
line-height: 1.75;
font-style: italic;
}
.navbar-brand a:hover {
    text-decoration: none;
}

.navbar-header button.navbar-toggle {/*Menu Button*/
    clear: both;
    margin-top: -25px;
    background: #d8e4e4;
    border: 1px solid #183444;
}
.navbar-header button.navbar-toggle:hover{
    background-color: #f05c64;
}

.navbar-header .icon-bar {/*Lines inside Menu Button*/
    border: 1px solid #183444;
}

#nav-list {/*the 'box' surrounding menu items list inside toggle button*/
    border: 1px solid #183444;
}

#nav-list a {/*Each dish inside toggle button*/
    background-color: #d8e4e4;
    text-align: center;
    color: #183444;
}
#nav-list a:hover{
background-color: #f05c64;
}

ul.separator li {/*horizontal line between menu items list inside toggle button*/
    border-bottom: 1px solid #183444;
}
/* END HEADER */

/* MAIN CONTENT */
.container .dishes {/*Dishes on the page*/
    height: 1000px;
    background-color: #A8Dcc4;
    margin-top: 10px;
    
}
/* END MAIN CONTENT */

/* DESKTOP & TABLET */
@media (min-width:768px) {
    .navbar-toggle {
        display: none;
    }
}
/* DESKTOP & TABLET END */

/* MOBILE ONLY */
@media (max-width:768px){
    section.row{
        margin-left: 30px;
        margin-right: 30px;
    }
}